@import "../../node_modules/preline/variants.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Telma';
    src: url('/fonts/telma/Telma-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Telma';
    src: url('/fonts/telma/Telma-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sentient';
    src: url('/fonts/sentient/Sentient-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sentient';
    src: url('/fonts/sentient/Sentient-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
